<div class="transaction">
    <h5 class="title"><%= locals.transaction.title %></h5>
    <h5 class="amount"><%= locals.transaction.amount %></h5>
    <h5 class="notes"><%= locals.transaction.notes %></h5>
    <button onclick="edit('<%= locals.transaction.id %>')">Edit</button>
    <h5 class="amount"></h5>
</div>